@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* font-family: "Nunito", sans-serif; */
    font-family: "open sans", sans-serif;
    overflow: hidden;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}
