@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* font-family: "Nunito", sans-serif; */
    font-family: "open sans", "IBM Plex Sans Arabic", "Cairo", "Noto Kufi Arabic", sans-serif;
    overflow: hidden;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

@layer utilities {
    .direction-rtl {
        direction: rtl;
    }
    .arabic select,
    .arabic input {
        direction: rtl;
    }
    .direction-ltr {
        direction: ltr;
    }
    .direction-init {
        direction: initial;
    }
}
